#background {
    -light-black: rgb(74, 75, 78);
    -dark-highlight: rgb(87, 89, 92);
    -dark-black: rgb(39, 40, 40);
    -darkest-black: rgb(5, 5, 5);
    -mid-gray: rgb(216, 222, 227);
    -layer-highlight: rgb(102, 124, 135);
    -fx-background-color: -light-black;
    -layer-background: rgb(65, 68, 70);
    -selected-color: rgb(29, 29, 29)
}

.scrollPane {
    -fx-background-color: -dark-highlight;
}

.left-tool-bar{
    -fx-base: -dark-black;
    -fx-background-radius: 0 5 5 0;
}

.top-tool-bar{
    -fx-base: -dark-black;
    -fx-background-radius: 0 0 0 0;
    -fx-border-width: 0;
}

.hud{
    -fx-base: -dark-black;
}


.pressed-tool-button {
    -fx-background-color: -fx-inner-border, -fx-outer-border, -fx-body-color;
}

.toggle-button {
    -fx-background-color: transparent;
}

.toggle-button:hover {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
}

.toggle-button:pressed {
    -fx-background-color: -fx-inner-border, -fx-outer-border, -fx-body-color;
}

.toggle-button:selected {
    -fx-background-color: -fx-inner-border, -fx-outer-border, -selected-color;
}

.button {
    -fx-background-color: transparent;
}

.button:hover {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
}

.no-border-scroll {
    -fx-background-color: transparent;
    -fx-control-inner-background: transparent;
}

.layerTextField {
    -fx-background-color: transparent;
}

.layerTextField:focused {
    -fx-background-color: white, transparent, -dark-black;
}

.layer-item{
    -fx-border-color: -dark-black;
}

